
body{
    margin:0;
    padding:0;
    font-family: sans-serif;
    background : url(tech.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
.login-box{
    width: 350px;
    padding: 30px;
    position: absolute;
    top : 55%;
    left : 50%;
    transform : translate(-50%,-50%);
    background: rgba(0,0,0,0.65);
    color: white;
    box-sizing:border-box;
    box-shadow: 0 15px 40px rgba(0,0,0,1);
    border-radius:20px;
}
.login-box h1{
    margin:0 0 45px;
    font-size: 40px;
    padding:0;
    color:#fff;
    text-align: center;
}
.login-box .inputbox{
    position: relative;
}
.login-box .inputbox input{
    width: 100%;
    padding: 25px 0:
    font-color:white;
    font-size: 26px;
    color: #fff;
    margin-bottom: 40px;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    background: transparent;
}
.login-box .inputbox label{
    position:absolute;
    top: 0;
    left: 0;
    padding: 0:
    color: white;  
    pointer-events: none;
    transition: 0.5s; 
}
.login-box .inputbox input:focus ~ label,
.login-box .inputbox input:valid ~ label 
{
    top: -18px;
    left:0;
    color: lightblue;
    font-size: 12px;
}

.login-box input[type="submit"]{
    width:100%;
    background:none;
    border: 2px solid;
    border-color: white;
    border-radius: 10px;
    color: white;
    padding:5px;
    font-size:18px;
    cursor:pointer;
    margin:05 px;
}
